# CONFIGURACION DE MACROS DESARROLLADA POR UDV
# TELEGRAM: https://t.me/ArtillerySidewinderX4

[save_variables]
filename: ~/variables.cfg

[gcode_macro PRINT_START]  
gcode:
    RESPOND TYPE=command MSG='INICIO DE LA IMPRESION'


[gcode_macro START_PRINT]         
gcode:
    RESPOND TYPE=command MSG='Incio START_PRINT'
        SAVE_VARIABLE VARIABLE=was_interrupted VALUE=True   # Almacenar por si se interrumpe la impresion.
        save_last_file                                      # Almacenar nombre y ruta del archivo a imprimir.

        G90                                                 # Posicionamiento Absoluto.
        M420                                                # Carga la malla de la cama por defecto. (Necesario instalar macro). 
        M220 S100                                           # Establecer al 100% anulación del factor de velocidad.
        M221 S100                                           # Establecer al 100% anulación del factor de extrusion.

        {% set BED_TEMP = params.BED_TEMP|default(65)|float %}
        {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(220)|float %}
        
        GOTEO_FUERA                                         # Ir a posicion para que caiga la gota fuera.
        M140 S{BED_TEMP}                                    # Calentar cama a temperatura de primera capa.
        M109 S{EXTRUDER_TEMP}                               # Calentar extrusor y esperar a temperatura de primera capa.
        M190 S{BED_TEMP}                                    # Calentar cama y esperar a temperatura de primera capa.
        NOZZLE_CLEAN                                        # Purgar y limpiar Extrusor
    RESPOND TYPE=command MSG='Fin START_PRINT'


[gcode_macro PRINT_END]
gcode:
    RESPOND TYPE=command MSG='Incio PRINT_END'
        SAVE_VARIABLE VARIABLE=was_interrupted VALUE=False # Desactivar variable de impresion interrumpida.
        RUN_SHELL_COMMAND CMD=clear_plr
        clear_last_file                         # Vaciar de la memoria el ultimo archivo impreso.
        M220 S100                               # Establecer al 100% anulación del factor de velocidad.
        M221 S100                               # Establecer al 100% anulación del factor de extrusion.
        G91                                     # Posicionamiento Relativo.
        G1 E-2 F2700                            # Retraer Filamento.
        G1 E-2 Z0.2 F2400                       # Retraer Filamento y subir en Z.
        G1 X5 Y5 F3000                          # Mover en X e Y.
        G1 Z5                                   # Subir en Z.
        G90                                     # Posicionamiento Absoluto.
        G1 X0 Y240 F3000                        # Apartar Extrusor y sacar la Base con la pieza impresa.
        M106 S0                                 # Apagar Ventilador.
        M104 S0                                 # Apagar Extrusor.
        M140 S0                                 # Apagar Cama.
        M84 X Y E                               # Apagar motores X, Y , E.
    RESPOND TYPE=command MSG='Fin PRINT_END'


[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    RESPOND TYPE=command MSG='Incio CANCEL_PRINT'
        PRINT_END                               # Ejecutar macro de fin de impresion.
        SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout} 
        SDCARD_RESET_FILE                       # Esperar al buffer para vaciar.
        G92 E0 	                                # Hacer cero al Extrusor.
        G1 E-10.0 F1200                         # Retraer 10mm el Extrusor.
        G4 P2000                                # Retraer Filamento.
    RESPOND TYPE=command MSG='Fin CANCEL_PRINT'


[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode: 
    RESPOND TYPE=command MSG='Incio PAUSE'
        {% set z = params.Z|default(20)|int %}                                                   
        {% set e = params.E|default(2.5) %} 
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE={z}                             
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=etemp VALUE={printer['extruder'].target}                                              
        SAVE_GCODE_STATE NAME=PAUSE                                                                  
        M25                                                                              
        {% if (printer.gcode_move.position.z + z) < printer.toolhead.axis_maximum.z %}       
        G91
            M83
            G1 E-{e} F2100
        G1 Z{z} F900                                                                     
        {% else %}
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE=0
        {% endif %}
        SAVE_GCODE_STATE NAME=PAUSEPARK
        G90                                                                                  
        #G1 X0 Y0 F6000
        G1 E{e} F2100	
        SET_IDLE_TIMEOUT TIMEOUT=43200   
    RESPOND TYPE=command MSG='Fin PAUSE'                                                    


[gcode_macro RESUME]
rename_existing: BASE_RESUME
variable_zhop: 0
variable_etemp: 0
gcode:
    RESPOND TYPE=command MSG='Incio RESUME'
        {% set e = params.E|default(2.5)|int %}                                          
        SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}
        G91                                                                               
        M83
        G1 E-{e} F900		
        RESTORE_GCODE_STATE NAME=PAUSEPARK MOVE=1 MOVE_SPEED=100                     
        {% if printer[printer.toolhead.extruder].temperature >= printer.configfile.settings.extruder.min_extrude_temp %}                                                
        G1 Z{zhop * -1} F900
            G1 E{e+0.5} F900	  
        {% else %}                      
        G1 Z{zhop * -1} F900                                                     
        {% endif %}
        RESTORE_GCODE_STATE NAME=PAUSE MOVE=1 MOVE_SPEED=60 
        M24
    RESPOND TYPE=command MSG='Incio RESUME'


[gcode_macro NEOPIXEL_DISPLAY]
gcode:
    RESPOND TYPE=command MSG='Incio NEOPIXEL_DISPLAY'
        {% set led = params.LED %}
        {% set type = params.TYPE %}
        {% set mode = params.MODE %}
        {% set my_neopixel = printer.configfile.config['neopixel ' ~ led] %}

        {% if mode == 'progress' %}
            {% for i in range(my_neopixel.chain_count|int) %}
                SET_LED_TEMPLATE LED={led} INDEX={i+1} TEMPLATE={'led_' ~ type ~ '_' ~ mode} param_led_num={i+1} param_led_total={my_neopixel.chain_count|int}
            {% endfor %}
        {% endif %}
        {% if mode == 'glow' %}
            SET_LED_TEMPLATE LED={led} TEMPLATE={'led_' ~ type ~ '_' ~ mode}
        {% endif %}
    RESPOND TYPE=command MSG='Fin NEOPIXEL_DISPLAY'


[gcode_macro GOTEO_FUERA]
gcode:
    RESPOND TYPE=command MSG='Incio GOTEO_FUERA'
        G1 X250 Y200 Z10 F5000 # Ir a posicion fuera, cerca de zona de purga.
    RESPOND TYPE=command MSG='Fin GOTEO_FUERA'


[gcode_macro NOZZLE_CLEAN]
gcode:
    RESPOND TYPE=command MSG='Incio NOZZLE_CLEAN'
        G1 Z5 F3000                             # Elevar en Z para evitar que se raye la cama.
        G1 X242.7 Y200 Z0.3 F3000               # Ir al inicio de la linea 1.
        G1 X242.7 Y20 Z0.3 F1500 E20            # Dibuja la linea 1.
        G1 X243 Y20 Z0.3 F1500                  # Ir al inicio de la linea 2.
        G1 X243 Y200 Z0.3 F1500 E30             # Dibuja la linea 2.
        G1 Z5 F3000                             # Elevar en Z para evitar que se raye la cama.
        NOZZLE_WIPE                             # Ejecutar la limpieza en el Cepillo.
    RESPOND TYPE=command MSG='Fin NOZZLE_CLEAN'

      
[gcode_macro NOZZLE_WIPE]
gcode:
    RESPOND TYPE=command MSG='Incio NOZZLE_WIPE'
        G1 X243 Y200 Z5 F5000                   # Posicion inicial para Limpieza. Mismo que punto final de NOZZLE_CLEAN.
        SET_KINEMATIC_POSITION Y=0              # Cambia el TOOL del cabezal de la herramienta para definir que esta en otra posicion cartesiana.
        G1 Y60 F5000                            # Mover en Y con el nuevo TOOL.
        G1 Z0.1 F5000                           # Mover en Z con el nuevo TOOL.
        
        {% for ciclos_cepillo in range(8) %}    # Bucle de Limpiezar. (Repetir 8 veces).
        G1 X230 F5000                           # Frotar contra el cepillo. Punto 1.
        G1 X180 F5000                           # Frotar contra el cepillo. Punto 2.
        {% endfor %}                            # Fin del Bucle de Limpiezar.

        G1 X230 Y0 Z5 F5000                     # Mover a punto final con el nuevo TOOL.
        G1 E-1 F3000                            # Retraer Extrusor.
        M400                                    # Esperar a terminar los movimientos.
        SET_KINEMATIC_POSITION Y=200            # Volver a definir la posicion cartesiana de la herramienta como antes.
        G1 Y60 F5000                            # Posicion inicial para Limpieza. Mismo que punto final de NOZZLE_CLEAN.
    RESPOND TYPE=command MSG='Fin NOZZLE_WIPE'


[delayed_gcode CARGA_LIMPIA]
gcode:
    RESPOND TYPE=command MSG='Incio CARGA_LIMPIA'
        G1 E-2                                  # Retraer filamento.
        NOZZLE_CLEAN                            # Purgar el Extrusor.
        G1 Z240.0 F3000                         # Levantar en Z 240mm el Extrusor para no golpear la pieza impresa.
        UPDATE_DELAYED_GCODE ID=CARGA_LIMPIA DURATION=0 # Resetea el UPDATE_DELAYED_GCODE para que no ejecute de nuevo.
        RESUME                                  # Reanuda la impresión en el punto que lo había dejado.
    RESPOND TYPE=command MSG='Fin CARGA_LIMPIA'


[gcode_macro M600] # Macro para realizar cambio de filamento / color.
gcode:
    RESPOND TYPE=command MSG='Incio M600'
        {% set X = params.X|default(50)|float %}
        {% set Y = params.Y|default(0)|float %}
        {% set Z = params.Z|default(10)|float %}
        SAVE_GCODE_STATE NAME=M600_state # Almacenar el estado de la impresion.
        PAUSE
        G91
        G1 E-.8 F2700
        G1 Z{Z}
        G90
        G1 X{X} Y{Y} F3000
        G91
        G1 E-70 F1000
        RESTORE_GCODE_STATE NAME=M600_state
        UPDATE_DELAYED_GCODE ID=CARGA_LIMPIA DURATION=60 # Esperar 60 segundos y ejecutar CARGA_LIMPIA
    RESPOND TYPE=command MSG='Fin M600'

[gcode_macro M109]
rename_existing: M99109
gcode:
    RESPOND TYPE=command MSG='Incio M109'   
        SAVE_VARIABLE VARIABLE=htemp VALUE='{printer.extruder.temperature}'
        NEOPIXEL_DISPLAY LED="my_neopixel" TYPE=extruder_temp MODE=glow
        {% set s = params.S|float %}
        M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}  ; Set hotend temp
        {% if s != 0 %}
            TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s-2} MAXIMUM={s+2}   ; Wait for hotend temp (within 1 degree)
            #NEOPIXEL_DISPLAY LED="my_neopixel" TYPE=extruder_temp MODE=glow
        {% endif %}
        NEOPIXEL_DISPLAY LED="my_neopixel" TYPE=print_percent MODE=progress
    RESPOND TYPE=command MSG='Fin M109'  
    
    
[gcode_macro M190]
rename_existing: M99190
gcode:
    RESPOND TYPE=command MSG='Incio M190'   
        NEOPIXEL_DISPLAY LED="my_neopixel" TYPE=bed_temp MODE=glow
        {% set s = params.S|float %}
        M140 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}   ; Set bed temp
        {% if s != 0 %}
            TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={s-2} MAXIMUM={s+2}  ; Wait for bed temp (within 1 degree)
        {% endif %}
    RESPOND TYPE=command MSG='Fin M190' 


[gcode_macro M420] # Macro para uso de malla grabada.
gcode:
    RESPOND TYPE=command MSG='Incio M420'
        BED_MESH_PROFILE LOAD=default
    RESPOND TYPE=command MSG='Fin M420'


[gcode_macro G29]
gcode:
    RESPOND TYPE=command MSG='Incio G29'
        BED_MESH_CLEAR
        G28
        BED_MESH_CALIBRATE
        G0 Z50 F1800
        G0 X120 Y120 F12000
    RESPOND TYPE=command MSG='Fin G29'


[gcode_macro LEDS_PUENTE] # Macro para Control Gantry LED FJMB Artillery X4 Pro/Plus
description: LEDs del Puente
gcode:
  RUN_SHELL_COMMAND CMD=GANTRY_LIGHT


[gcode_shell_command GANTRY_LIGHT] # Comandos Shell para Control Gantry LED FJMB Artillery X4 Pro/Plus
command: sh /home/mks/klipper_config/switchgantryleds
timeout: 5.


;[gcode_macro FLASHLIGHT_ON]
;description: Turn on Hotend LEDs
;gcode:
;  SET_PIN PIN=caselight VALUE=1


;[gcode_macro FLASHLIGHT_OFF]
;description: Turn off Hotend LEDs
;gcode:
;   SET_PIN PIN=caselight VALUE=0


;[gcode_macro MODLELIGHT_ON]
;description: Turn on Logo LEDs
;gcode:
;   SET_PIN PIN=caselight1 VALUE=1


;[gcode_macro MODLELIGHT_OFF]
;description: Turn off Logo LEDs
;gcode:
;    SET_PIN PIN=caselight1 VALUE=